@import "tailwindcss";

:root {
	--md-sys-color-primary: rgb(0 104 119);
    --md-sys-color-surface-tint: rgb(0 104 119);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(163 238 255);
    --md-sys-color-on-primary-container: rgb(0 78 90);
    --md-sys-color-secondary: rgb(60 96 144);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(212 227 255);
    --md-sys-color-on-secondary-container: rgb(33 72 118);
    --md-sys-color-tertiary: rgb(61 95 144);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(213 227 255);
    --md-sys-color-on-tertiary-container: rgb(35 71 119);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(245 250 252);
    --md-sys-color-on-background: rgb(23 29 30);
    --md-sys-color-surface: rgb(245 250 251);
    --md-sys-color-on-surface: rgb(22 29 29);
    --md-sys-color-surface-variant: rgb(218 228 229);
    --md-sys-color-on-surface-variant: rgb(63 72 73);
    --md-sys-color-outline: rgb(111 121 121);
    --md-sys-color-outline-variant: rgb(190 200 201);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(43 49 50);
    --md-sys-color-inverse-on-surface: rgb(236 242 242);
    --md-sys-color-inverse-primary: rgb(131 210 227);
    --md-sys-color-primary-fixed: rgb(163 238 255);
    --md-sys-color-on-primary-fixed: rgb(0 31 37);
    --md-sys-color-primary-fixed-dim: rgb(131 210 227);
    --md-sys-color-on-primary-fixed-variant: rgb(0 78 90);
    --md-sys-color-secondary-fixed: rgb(212 227 255);
    --md-sys-color-on-secondary-fixed: rgb(0 28 58);
    --md-sys-color-secondary-fixed-dim: rgb(165 200 255);
    --md-sys-color-on-secondary-fixed-variant: rgb(33 72 118);
    --md-sys-color-tertiary-fixed: rgb(213 227 255);
    --md-sys-color-on-tertiary-fixed: rgb(0 28 59);
    --md-sys-color-tertiary-fixed-dim: rgb(167 200 255);
    --md-sys-color-on-tertiary-fixed-variant: rgb(35 71 119);
    --md-sys-color-surface-dim: rgb(213 219 220);
    --md-sys-color-surface-bright: rgb(245 250 251);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(239 245 245);
    --md-sys-color-surface-container: rgb(233 239 239);
    --md-sys-color-surface-container-high: rgb(227 233 234);
    --md-sys-color-surface-container-highest: rgb(222 228 228);
}

[data-theme="dark"]{
	--md-sys-color-primary: rgb(131 210 227);
	--md-sys-color-surface-tint: rgb(131 210 227);
	--md-sys-color-on-primary: rgb(0 54 62);
	--md-sys-color-primary-container: rgb(0 78 90);
	--md-sys-color-on-primary-container: rgb(163 238 255);
	--md-sys-color-secondary: rgb(165 200 255);
	--md-sys-color-on-secondary: rgb(0 49 94);
	--md-sys-color-secondary-container: rgb(33 72 118);
	--md-sys-color-on-secondary-container: rgb(212 227 255);
	--md-sys-color-tertiary: rgb(167 200 255);
	--md-sys-color-on-tertiary: rgb(3 48 95);
	--md-sys-color-tertiary-container: rgb(35 71 119);
	--md-sys-color-on-tertiary-container: rgb(213 227 255);
	--md-sys-color-error: rgb(255 180 171);
	--md-sys-color-on-error: rgb(105 0 5);
	--md-sys-color-error-container: rgb(147 0 10);
	--md-sys-color-on-error-container: rgb(255 218 214);
	--md-sys-color-background: rgb(14 20 22);
	--md-sys-color-on-background: rgb(222 227 229);
	--md-sys-color-surface: rgb(14 20 21);
	--md-sys-color-on-surface: rgb(222 228 228);
	--md-sys-color-surface-variant: rgb(63 72 73);
	--md-sys-color-on-surface-variant: rgb(190 200 201);
	--md-sys-color-outline: rgb(137 147 147);
	--md-sys-color-outline-variant: rgb(63 72 73);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(222 228 228);
	--md-sys-color-inverse-on-surface: rgb(43 49 50);
	--md-sys-color-inverse-primary: rgb(0 104 119);
	--md-sys-color-primary-fixed: rgb(163 238 255);
	--md-sys-color-on-primary-fixed: rgb(0 31 37);
	--md-sys-color-primary-fixed-dim: rgb(131 210 227);
	--md-sys-color-on-primary-fixed-variant: rgb(0 78 90);
	--md-sys-color-secondary-fixed: rgb(212 227 255);
	--md-sys-color-on-secondary-fixed: rgb(0 28 58);
	--md-sys-color-secondary-fixed-dim: rgb(165 200 255);
	--md-sys-color-on-secondary-fixed-variant: rgb(33 72 118);
	--md-sys-color-tertiary-fixed: rgb(213 227 255);
	--md-sys-color-on-tertiary-fixed: rgb(0 28 59);
	--md-sys-color-tertiary-fixed-dim: rgb(167 200 255);
	--md-sys-color-on-tertiary-fixed-variant: rgb(35 71 119);
	--md-sys-color-surface-dim: rgb(14 20 21);
	--md-sys-color-surface-bright: rgb(52 58 59);
	--md-sys-color-surface-container-lowest: rgb(9 15 16);
	--md-sys-color-surface-container-low: rgb(22 29 29);
	--md-sys-color-surface-container: rgb(26 33 33);
	--md-sys-color-surface-container-high: rgb(37 43 44);
	--md-sys-color-surface-container-highest: rgb(48 54 55);
}

@theme inline {
  --color-primary: var(--md-sys-color-primary);
  --color-surface-tint: var(--md-sys-color-surface-tint);
  --color-on-primary: var(--md-sys-color-on-primary);
  --color-primary-container: var(--md-sys-color-primary-container);
  --color-on-primary-container: var(--md-sys-color-on-primary-container);
  --color-secondary: var(--md-sys-color-secondary);
  --color-on-secondary: var(--md-sys-color-on-secondary);
  --color-secondary-container: var(--md-sys-color-secondary-container);
  --color-on-secondary-container: var(--md-sys-color-on-secondary-container);
  --color-tertiary: var(--md-sys-color-tertiary);
  --color-on-tertiary: var(--md-sys-color-on-tertiary);
  --color-tertiary-container: var(--md-sys-color-tertiary-container);
  --color-on-tertiary-container: var(--md-sys-color-on-tertiary-container);
  --color-error: var(--md-sys-color-error);
  --color-on-error: var(--md-sys-color-on-error);
  --color-error-container: var(--md-sys-color-error-container);
  --color-on-error-container: var(--md-sys-color-on-error-container);
  --color-background: var(--md-sys-color-background);
  --color-on-background: var(--md-sys-color-on-background);
  --color-foreground: var(--md-sys-color-on-surface);
  --color-surface: var(--md-sys-color-surface);
  --color-on-surface: var(--md-sys-color-on-surface);
  --color-surface-variant: var(--md-sys-color-surface-variant);
  --color-on-surface-variant: var(--md-sys-color-on-surface-variant);
  --color-outline: var(--md-sys-color-outline);
  --color-outline-variant: var(--md-sys-color-outline-variant);
  --color-shadow: var(--md-sys-color-shadow);
  --color-scrim: var(--md-sys-color-scrim);
  --color-inverse-surface: var(--md-sys-color-inverse-surface);
  --color-inverse-on-surface: var(--md-sys-color-inverse-on-surface);
  --color-inverse-primary: var(--md-sys-color-inverse-primary);
  --color-primary-fixed: var(--md-sys-color-primary-fixed);
  --color-on-primary-fixed: var(--md-sys-color-on-primary-fixed);
  --color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim);
  --color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant);
  --color-secondary-fixed: var(--md-sys-color-secondary-fixed);
  --color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed);
  --color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim);
  --color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant);
  --color-tertiary-fixed: var(--md-sys-color-tertiary-fixed);
  --color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim);
  --color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant);
  --color-surface-dim: var(--md-sys-color-surface-dim);
  --color-surface-bright: var(--md-sys-color-surface-bright);
  --color-surface-container-lowest: var(--md-sys-color-surface-container-lowest);
  --color-surface-container-low: var(--md-sys-color-surface-container-low);
  --color-surface-container: var(--md-sys-color-surface-container);
  --color-surface-container-high: var(--md-sys-color-surface-container-high);
  --color-surface-container-highest: var(--md-sys-color-surface-container-highest);
}

html,
body {
  height: 100vh;
  overflow: hidden;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
