# docker-compose.yml
version: '3.8'

services:
  # SERVICE 2: The Backend (Express)
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      DATABASE_URL: postgres://Username:YourPwd@pg-3b020c22-mostaf1111-57d8.k.aivencloud.com:22860/Medlocation?sslmode=require
      PORT: 5000
      
  # SERVICE 3: The Frontend (Next.js)
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app      
      - /app/node_modules
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:5000

volumes:
  postgres_data:
