# docker-compose.yml
# version: '3.8'

services:
  # SERVICE 1: The Backend (Express)
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PORT: 5000
      
  # SERVICE 2: The Frontend (Next.js)
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app      
      - /app/node_modules
    environment:
      NEXT_PUBLIC_API_URL: http://backend:5000
